[Desktop Entry]
Type=Application
Name=Walkdown
Comment=Find plant equipment on P&ID drawings by KKS code
Exec=walkdown
Icon=io.github._5wHN28Dg.walkdown
Terminal=false
Categories=Science;Engineering;
Keywords=KKS;P&ID;plant;equipment;drawing;
StartupNotify=true
