<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:label="KKS M6 bench">
        <activity android:name=".Bench" android:exported="true">
            <intent-filter><action android:name="android.intent.action.MAIN"/><category android:name="android.intent.category.LAUNCHER"/></intent-filter>
        </activity>
    </application>
</manifest>
